.panda__header {
  min-height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding-bottom: 3em;
  .panda__name {
    font-size: 3em;
    font-weight: 700;
    .panda__slogan {
      font-size: 2em;
      
    }
  }
}
.header__background {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../design/img/panda.jpg);
  background-blend-mode: multiply;
  .logo__color{
   color: #2f2f2f;
   text-shadow: 0.022em 0.022em 0.022em rgb(236, 236, 236);
  }
  .slogan__color{
   color: #f3f3f3;
  }


}
